<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title></title>
</head>
<body>
	<button onclick="window.location.href='searchbygenre';" class="btn btn-secondary btn-lg">Search book by genre</button><br>
	<button onclick="window.location.href='searchbyauthor';" class="btn btn-secondary btn-lg">Search book by author</button><br>
	<button onclick="window.location.href='searchbyname';" class="btn btn-secondary btn-lg">Search book by name</button><br>
</body>
</html>