<!DOCTYPE html>
<html>
<head>
	<title>SEARCH BOOK BY GENRE</title>
</head>
<body>
	<form action="/searchbygenre" method="POST">
		Genre:<input type="text" name="category"><br><br>
		<input type="submit" name="submit">
	</form>
</body>
</html>