<!DOCTYPE html>
<html>
<head>
	<title>SEARCH BOOK BY AUTHOR</title>
</head>
<body>
	<form action="/searchbyauthor" method="POST">
		Author:<input type="text" name="author"><br>
		<input type="submit" name="submit">
	</form>
</body>
</html>