<!DOCTYPE html>
<html>
<head>
	<title>SEARCH BY NAME</title>
</head>
<body>
	<form action="/searchbyname" method="POST">
		BookName:<input type="text" name="title"><br><br>
		<input type="submit" name="submit">
	</form>
</body>
</html>